@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
:root{
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Red Hat Display', sans-serif;
    background-color: var(--Pale-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    font-size: 16px;
}
.card{
    position: absolute;
    width: 300px;
    text-align: center;
    background-color: var(--Very-pale-blue);
    border-radius: 14px;
    overflow: hidden;
}
.img-top img{
    width: 100%;
    display: block;
}
.text h2{
    font-weight: 900;
    color: var(--Dark-blue);
}
.text p{
    font-weight: 500;
    color: var(--Desaturated-blue);
    margin-top: 1rem;
}
.text{
    margin: 1rem 0;
}
.content{
    padding: 1em;
}
.plan{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info p:nth-of-type(1){
    font-weight: 900;
    color: var(--Dark-blue);
}
.info p:nth-of-type(2){
    font-weight: 500;
    color: var(--Desaturated-blue);
}
.plan a{
    font-weight: 700;
    color: var(--Bright-blue);
}
.plan a:hover{
    color: var(--Desaturated-blue);
}
.button{
    width: 100%;
    background-color: var(--Bright-blue);
    padding: 0.8em;
    color: var(--Very-pale-blue);
    border-radius: 12px;
    font-weight: 700;
    margin: 1rem 0;
}
.button-cancel{
    color: var(--Desaturated-blue);
    font-weight: 500;
    padding: 1em;
}